@import url(https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Sen&family=Righteous&family=Poppins&display=swap);
body,
html {
  width: 100%;
  height: 100%;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

body {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #fff;
  -webkit-font-feature-settings: "tnum";
          font-feature-settings: "tnum";
}

[tabindex="-1"]:focus {
  outline: none !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help;
}

address {
  margin-bottom: 1em;
  font-style: normal;
  line-height: inherit;
}

input[type="number"],
input[type="password"],
input[type="text"],
textarea {
  -webkit-appearance: none;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1em;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: 500;
}

dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1em;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #40a9ff;
}

a:active {
  color: #096dd9;
}

a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

body {
  margin: 0;
  background-color: #fff2f9 !important;
  font-family: "Balsamiq Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../images/bgdot.png), #fff2f9;
  background-blend-mode: lighten;
  background-repeat: repeat;
  background-size: 144px 144px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

h1,
h3 {
  font-family: Balsamiq Sans;
  font-style: normal;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}

.Home {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home,
.Home-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Home-heading {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 48px;
  padding-bottom: calc(48px + 212px);
  background: -webkit-gradient(linear, left bottom, left top, from(#e7f5ff), to(#d0f7ff));
  background: linear-gradient(0deg, #e7f5ff, #d0f7ff);
  background-color: #42378f;
  background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
  overflow: hidden;
  color: #ffffff;
}

.Home-leftcloud {
  position: absolute;
  left: 89px;
  top: 164px;
}

.Home-rightcloud {
  position: absolute;
  right: 74px;
  top: 164px;
}

.Home-title {
  z-index: 1;
  margin-top: 64px;
  font-family: "Righteous", cursive;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.Home-subtitle {
  z-index: 1;
  font-family: Balsamiq Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 43px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  max-width: 1080px;
  -ms-flex-item-align: center;
      align-self: center;
}

.Home-bottom-image {
  height: 212px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat;
  background-size: cover;
  background-image: url("../images/puppet.svg");
  -webkit-animation: backgroundScroll 10s linear 1;
          animation: backgroundScroll 10s linear 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: 0;
}

@-webkit-keyframes backgroundScroll {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes backgroundScroll {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}

.Home-buttons-Root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

.Home-social-buttons {
  margin-left: 32px;
}

.MintTimeCounter {
  margin-top: 72px !important;
  font-size: 40px;
  z-index: 10;
}

@media (min-width: 1546px) {
  .Home-bottom-image {
    height: 312px;
  }
}

@media (max-width: 768px) {
  .Home-leftcloud {
    left: 16px;
    top: 112px;
  }
  .Home-rightcloud {
    right: 16px;
    top: 130px;
  }
  .Home-subtitle {
    font-size: 24px;
    line-height: 29px;
  }
  .Home-title {
    font-size: 64px;
    line-height: 77px;
  }
  .Home-heading {
    min-height: 768px;
  }
  .Home-bottom-image {
    -webkit-animation: backgroundScroll 20s linear 1;
            animation: backgroundScroll 20s linear 1;
  }
}

@media (max-width: 430px) {
  .Home-heading {
    padding: 24px;
  }
  .Home-leftcloud {
    left: -16px;
    top: 112px;
  }
  .Home-rightcloud {
    right: -16px;
    top: 130px;
  }
  .Home-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .Home-title {
    font-size: 48px;
    line-height: 58px;
    margin-top: 32px;
  }
  .Home-heading {
    min-height: 720px;
  }
  .Home-bottom-image {
    height: 164px;
    -webkit-animation: backgroundScroll 30s linear 1;
            animation: backgroundScroll 30s linear 1;
  }
}

@media (max-width: 430px) {
  .Home-title {
    font-size: 40px;
    line-height: 50px;
    margin-top: 24px;
  }
}

.Mint {
  position: relative;
}

.MintButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 24px;
  background: #3844f5;
  border: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  font-family: Balsamiq Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-left: 32px;
  max-height: 72px;
}

.MintButton:hover {
  background: #1091db;
  cursor: pointer;
}

.MintButtonDisabled {
  background: #18acff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MintButtonDisabled:hover {
  background: #18acff;
  cursor: unset;
}

@media (max-width: 430px) {
  .MintButton {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 148px;
  }
}

@media (max-width: 430px) {
  .MintButton {
    min-width: 112px;
  }
}

.Text {
  font-family: Balsamiq Sans;
  font-style: normal;
  font-weight: 700;
  color: #4e103c;
  margin-bottom: 0;
}

.Text,
.Text-title {
  font-size: 48px;
  line-height: 58px;
}

.Text-subtitle {
  font-size: 37px;
  line-height: 44px;
}

.Text-body {
  font-size: 24px;
  line-height: 29px;
}

.Text-caption {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.spin {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid rgba(16, 41, 78, 0.266667);
  border-top-color: #10294e;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}

.Roadmap {
  margin: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.RoadmapRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.RoadmapRowFlip {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.RoadmapLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.RoadmapLineCenter {
  width: 8px;
  background-color: #cc8ead;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

.RoadmapLineDot {
  position: absolute;
  margin-left: -18px;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 8px solid #cc8ead;
  background-color: #fff;
}

.RoadmapEmpty {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 32px;
  border: 8px solid transparent;
}

@media (max-width: 1024px) {
  .Roadmap {
    margin: 32px;
  }
  .RoadmapLine {
    width: 96px;
  }
}

@media (max-width: 768px) {
  .Roadmap {
    margin: 24px 12px 24px 0;
  }
  .RoadmapRow,
  .RoadmapRowFlip {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .RoadmapEmpty {
    display: none;
  }
  .RoadmapLine {
    width: 60px;
  }
}

.RoadmapCard-Root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 32px;
  background: #fff;
  border: 8px solid #cc8ead;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
}

@media (max-width: 768px) {
  .RoadmapCard-Root {
    margin-bottom: 32px;
  }
}

.RoadmapCard-headline {
  font-family: Balsamiq Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #cc8ead;
}

.RoadmapCard-title {
  font-size: 37px;
  line-height: 44px;
}

.RoadmapCard-date,
.RoadmapCard-title {
  font-family: Balsamiq Sans;
  font-style: normal;
  font-weight: 700;
  color: #4e103c;
}

.RoadmapCard-date {
  font-size: 24px;
  line-height: 29px;
}

.RoadmapCard-content {
  font-family: Balsamiq Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #4e103c;
}

.Footer {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TeamRoot {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.TeamMembers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.TeamMember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 16px 32px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TeamImage {
  margin-bottom: 16px;
  width: 196px;
  height: 196px;
  border-radius: 24px;
  overflow: hidden;
  border: 12px solid rgba(245, 56, 68, 0.2);
}

@media (max-width: 768px) {
  .TeamMember {
    margin: 16px;
  }
}

.FAQ {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.FAQ-List {
  margin: 48px;
}

.FAQ-List,
.Question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.Question {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 24px;
  padding-bottom: 24px;
}

.Question-Row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Question-Button,
.Question-Row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Question-Button {
  background-color: #4e103c;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  cursor: pointer;
}

.Question-Button-rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Answer-Row {
  display: none;
}

.Answer-Row.show {
  display: block;
}

.QuestionAnswer {
  margin-top: 12px;
  text-align: left;
  font-size: 24px;
}

.QuestionTitle {
  text-align: left;
}

.FAQ-Title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin: 8px;
}

@media (max-width: 430px) {
  .FAQ-List {
    margin: 24px;
  }
}
/*# sourceMappingURL=style.css.map */